$tooltip-arrow-size: 448px!important;
$tooltip-arrow-margin: 344px!important;
$tooltip-multiline-sizes: (
  small: 200px,
  medium: 260px,
  large: 320px,
);
$tooltip-colors: (
  primary: red,
  secondary: blue,
  // Add more custom colors if needed
);