@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root {
  --white: #fff;
  --black: #000;
  --bkg1: #00bbb4;
  --gap: .4rem;
  --big-gap: 1.6rem;
  --vertical-margin: 2rem;
  --highlight: #eee;
  --task-title-font-size: 2rem;
  --content-padding: 0 2rem;
  --header-padding: 0 1rem;
  --lightsalmon: oklch(79.38% 0.12483287411660951 42.42478683674435);
  --border-color: oklch(45% 0.26 264);
  --font-family: 'Open Sans', sans-serif;
  --main-gradient: 
    linear-gradient(180deg, #5b00ff 0%, #003c4c 100%),     
    linear-gradient(
      180deg in oklch, 
      oklch(32% 0.5 271) 0%, oklch(25% 0.35 192) 100%
    );
  --silver-1: #fcfcfc;
  --silver-2: #efefef;
  --silver-3: #e4e4e4;
  --silver-4: #c0c0c0;
  --silver-5: #A9A9A9;
  --silver-6: #929292;
  --silver-7: #7B7B7B;
  --silver-8: #646464;
  --silver-9: #4D4D4D;
  --silver-10: #363636;
}

@media (min-width: 600px) {
  :root {
    --task-title-font-size: 3rem;
    --content-padding: 0;
    --header-padding: 0;
    
  }
}

html { font-size: 62.5%!important; scroll-behavior: smooth; } 
body {
  min-height: 100vh;
}

h6 {
  font-size: 1.4rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

.separator-start {
  padding-top: 1.1rem;
  &:before {
    content: "";
    width: 100%;
    height: 0.4rem;
    position: absolute;
    top: 0;
    background-color: var(--black);
  }
}

.main-bottom {
  margin-bottom: var(--vertical-margin);
}

form {
  position: relative
}


dialog {
  width: 100vw;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &::before {
    content: '';
    background-color: #66666666;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}

h2, h4 {
  line-height: 1.05;
}

h2 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

dt, dd {
  display: inline-block;
}

.loading-overlay .loading-icon {
  &:after {
    width: 1rem !important;
    height: 1rem !important;
    top: -0.5rem!important;
    left: 0!important;
  }
}

.title::selection {
  background-color: #eeeeee66;
  border: 1px solid #000;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.fixed-background-color {
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--main-gradient);
}
.flex {
  display: flex!important;
}

.selection-disabled {
  user-select: none;
}

.fixed-text-color {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent!important;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--main-gradient);
}